
li{
    list-style-type: none;
}
ul li::before {
    content: "★";      
    color: gold;
    margin-right: 10px;
  }
ol li::before{
    content: "✦";
    color:skyblue;
    margin-right: 10px;
}
ul{
    font-style: italic;
    color: rgb(126, 82, 0);
}   
ol{
    font-style: oblique;
    color: rgb(1, 34, 47);
}